@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 6, 10, 12;
  --background-rgb: 236, 236, 236;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 236, 236, 236;
    --background-rgb: 6, 10, 12;
  }
}

*:focus {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass {
  /* From https://css.glass */
  /* background: rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* scrollbar style */ /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-dark/85;
}
/* END: scrollbar style */

.cl-avatarBox {
  width: 2rem;
  height: 2rem;
}
